<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>代码生成器</title>
        <link rel="icon" href="/img/favicon.ico">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <!-- 基本表单 -->
        <div class="container">
            <div id="ok" class="alert alert-success" style="display: none"><strong>成功生成项目!</strong></div>
            <div id="fail" class="alert alert-danger" style="display: none"><strong>未能成功生成项目, 请检查!</strong></div>
            <p class="lead align-content-center" style="margin-top: 100px; border: #005cbf dashed">点击生成项目</p>
            <form>
                <!-- 没有放在同一行，偏移1个格子 -->
                <!--
                <div class="form-group-sm col-sm-10 col-sm-offset-1">
                    <label for="name"><strong>用户名：</strong></label>
                    <input id="name" type="text" class="form-control">
                </div>
                <div class="form-group-sm col-sm-10 col-sm-offset-1">
                    <label for="pwd"><strong>密码：</strong></label>
                    <input id="pwd" type="text" class="form-control">
                </div>
                -->
                <!-- 放在这个div, 控制一下边框的范围大小 -->
                <div class="form-group-sm col-sm-12" style="margin-top: 10px">
                    <input id="generate" type="button" value="点击生成项目" class="btn-block btn btn-info"
                           onclick="generateCode()"/>
                    <!--
                    <input id="resset" type="button" value="重置" class="btn-block btn btn-warning">
                    -->
                </div>
            </form>
        </div>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script>
            function generateCode() {
                $.ajax({
                    type: "get",
                    url: "/generator",
                    dataType: "JSON",
                    success: function (resp) {
                        if (resp.code == 0) {
                            $('#ok').show();
                        } else {
                            $('#fail').show();
                        }
                    },
                    error: function (error) {
                        $('#fail').show();
                    }
                });
            }
        </script>
    </body>
</html>